@model LightweightCMS.Models.Page

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PageId" />
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <input asp-for="Background" class="form-control" />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Public" /> @Html.DisplayNameFor(model => model.Public)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rows" class="control-label"></label>
                <input asp-for="Rows" class="form-control" />
                <span asp-validation-for="Rows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Counts" class="control-label"></label>
                <input asp-for="Counts" class="form-control" />
                <span asp-validation-for="Counts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gap" class="control-label"></label>
                <input asp-for="Gap" class="form-control" />
                <span asp-validation-for="Gap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
