@model IEnumerable<LightweightCMS.Models.Page>
@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> SignInManager

@{
    ViewData["Title"] = "List";
}

<h2>Pages</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
<hr />

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li style="list-style-type: none; display: grid; grid-template-columns: auto 150px;">
                @Html.ActionLink(item.Titel, "View", new { id = item.PageId })
                <div style="display: inline; text-align: left;">
                    <a asp-action="View" asp-route-id="@item.PageId">View</a>
                    @if (item.User != null && await SignInManager.UserManager.GetUserAsync(User) == item.User)
                    {
                        @: |
                        <a asp-action="Edit" asp-route-id="@item.PageId">Edit</a>
                        @: |
                        <a asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
                    }
                </div>
            </li>
        }
    </ul>
</div>

